.footer {
  background: var(--black);
  color: var(--white);

  &__inner {
    max-width: var(--content-max);
    margin: 0 auto;
    padding: 65px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__logo {
    display: block;
    height: 40px;
    width: auto;
  }

  &__copy {
    font-size: 24px;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .footer {
    &__inner {
      padding: 50px 20px;
      gap: 22px;
    }

    &__logo {
      height: 32px;
    }

    &__copy {
      max-width: 12ch;
      font-size: 14px;
      text-align: center;
    }
  }
}
